.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 255px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding-top: 70px; 
}

.fav-section,
.all-section {
    width: 90%; 
    margin-left: 10px;
    text-align: center; 
    border-radius: 8px;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.all-section-header,
.fav-section-header {
    padding: 10px;
    background-color: #eee;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lists, .section-item {
    list-style: none;
    padding: 0; 
    margin: 0; 
}

.section-item {
    padding: 14px; 
    border-top: 1px solid #ccc; 
    text-align: start;
    padding-inline-start: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.section-item:first-child {
    border-top: none;
}
.dropdown-images{
    width: 32px;
    height: 32px;

}
.dropdown-item-images{
    width: 26px;
    height: 26px;
}


  