.Sidebar{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height:100%;
    width: 255px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}