.settings-container {
    position: relative;
    cursor: pointer;
}
.setting-size{
    height: 32px;
    width: 32px;
    margin-top: 10%;
} 
.settings-dropdown{
    position: absolute;
    top: 100%; 
    right: 0;
    background: white;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px; 
    padding: 15px;
    display: none;
    z-index: 1000;
    color: black;
}
.checkbox{
    font-size: 300px;
}
.settings-dropdown h4 {
    margin-top: 0;
    margin-bottom: 0.5em; 
    font-size: 2em;
    font-weight: 600;
    color: #333; 
    border-top: 1px solid #e6e6e6; 
    padding-top: 2%;
}
.settings-dropdown label {
    display: block;
    font-size: 1.5em; 
    margin-bottom: 0.5em; 
    cursor: pointer;
}  
.dropdown-title {
    font-size: 2em; 
    font-weight: bold; 
    margin-bottom: 10px; 
    text-align: center; 
    color: #333; 
    padding: 8px 0; 
    
  }
.settings-container:hover .settings-dropdown{
    display: block; 
    
}

.enlarge-text {
    font-size: 1.2em; 
}
.enlarge-text .custom-container {
    width: 50%; 
    height: 50%;    
}
.background-contrast .page1-container,
.background-contrast .navbar-home,
.background-contrast .page4-container,
.background-contrast .navbar-display{
    background-image: none;
    background-color: black;
}

.text-contrast .page1-h2, 
.text-contrast .page1-h1,
.text-contrast .display-title,
.text-contrast .content{
    color: white;
}
.background-contrast-enter .navbar-enter{
    background-color: #112D4E;
}
.background-contrast-help .page2-container{
    background-color: white;
}
