.navbar-home {
    color: rgb(37, 42, 52);
    background-color: rgb(37, 42, 52);
}
.custom-home{
    border-color: rgb(8, 217, 214);
    color:  rgb(8, 217, 214);
}
.custom-home:hover{  
    background-color:  rgb(8, 217, 214);
}
.help-text{
    display: flex;
    justify-content: space-between;
    
    width: 8.8%;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}
.page1-container {
    background-image: url('./images/Background.jpg');
    height: 100vh;
    background-size: cover;
    background-position: 90%, 0%;
}

.page1-h1{
    font-size: 5em;
    font-family: Georgia;
}
.page1-h2{
    font-size: 2em;
}
#topWord{
    margin-top: 1.5%;
}

.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn-primary{
    width: 9.5%;
    margin-top: 1.5%;
    color: #ffffff;
    background-color: rgb(255, 46, 99);
    border-color: rgb(255, 46, 99);
}
.btn.btn-primary:hover{
    background-color: rgb(153, 1, 39);
    border-color: rgb(153, 1, 39);
}

#arrow{
    margin-left: 7%;
}
.page1-col{
    height: 480px;
}
.bg-custom-1 {
    height: 50%;
    max-Width: '18rem';
    background-color: rgb(8, 217, 214);
    border-color: rgb(8, 217, 214);
}
.page1-title,
.page1-text,
.page1-header {
    color: rgb(37, 42, 52);
    margin: 0;
}
.page1-row{
    max-width: 50%;

}
.d-flex{
    margin-top: 5%;
}
.custom1-card{
    font-size: 1.02em;
}
.contain{
    max-height: 40%;
    overflow: hidden;
}
