body{
    background-color: #F1F6F9;
}
.navbar-custom {
    color: #394867;
    background-color: #394867;
}
.btn-outline-info{
    border-color: #F9F7F7;
    color: #F9F7F7; 
}
.btn-outline-info:hover{
    fill: #F9F7F7;
    background-color: #F9F7F7;
    border-color: #F9F7F7;
}
.custom-header{
    text-align: center;
    margin-top: 4%;
}
h1{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}
h2{
    font-size: 20px;
}
.search{
    height: 100px;
    width: 30%;
    margin-top: 2%;
    border: black solid;
    border-radius: 50px;
    padding: 0 60px 0 20px;
    font-size: large;
}
svg{
    position: relative;
    left: -4%;
}
svg:hover{
    transition: 0.2s; 
    cursor: pointer; 
    transform: scale(1.2);
}
.contact{
    margin-top: 3%;
}
.custom-row {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.btn-primary{
    background-color: #394867;
    border-color: #394867;
    width: 50%;
}
.btn-primary:hover{
    fill: #212A3E;
    background-color: #212A3E;
    border-color: #212A3E;
}